html {
  height: 100%;
  font-family: Open Sans, sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-flow: column;
}
main {
  flex: 1;
  display: flex;
  flex-flow: row;
}
#sidebar {
  width: 220px;
}
#chat {
  flex: 1;
  display: flex;
  flex-flow: column;
}
#filter {
  display: flex;
  flex-flow: row;
}
#filterinput {
  flex: 1;
}
#messages {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
#entrybox {
  display: flex;
  flex-flow: row;
}
#msginput {
  flex: 1;
}
